* {
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.start-box, #game-box, .score-box {
    justify-content: center;
    width: 800px;
    max-width: 80%;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 10px;;
    box-shadow: 0 0 5px 2px;
    margin-left: 20px;
}

/* START-BOX: Title, Directions---------------------------- */

.text-info {
    margin-left: 25px;
}

h1, h2 { /* SCORE-BOX & START-BOX*/
    color: black;
    font-size: 36px;
    text-align: left;
    margin-left: 25px;
}

p {
    color: black;
    text-align: left;
    font-size: 18px;
    margin-left: 25px;
}

/* end START-BOX: Title, Directions---------------------------- */

/* BUTTONS @ start and end of Quiz.---------------------------------------------*/

#startTime, .btn-quit {
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: 25px;
    background: blue;
    font-size: 24px;
    color: white;
}

#startTime:hover, .btn-quit:hover {
    background: purple;
}

#clear, #goBack { /*SCORE-BOX*/
    border-radius: 5px;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    margin-left: 25px; 
    margin-bottom: 20px;
    background: yellow;
    font-size: 24px;
    color: black;
}    

 #clear:hover, #goBack:hover { /*SCORE-BOX*/
    background: orange;
}

/* end BUTTONS @ start and end of Quiz.---------------------------------------------*/

/* GAME-BOX : Timer Box, quiz questions.--------------------------------------*/

#timecounter {
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    margin-right: 25px;
}

#questions {
    color: black;
    font-size: 24px;
    text-align: left;
    margin-left: 25px;
}

#choices {
    background: rgb(105, 150, 105);
    width: 90%;
    display: inline-block;
    border-radius: 8px;
    padding: 3px;
    color: black;
    font-size: 24px;
    text-align: left;
    margin-left: 25px;
    margin-right: 25px;
}

#choices:hover {
    background: green;
    color: white;
}

/* end GAME-BOX: Timer Box, quiz questions.--------------------------------------*/

/* SCORE-BOX:-----------*/

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
}